<form class="example-form">
  <mat-form-field class="example-full-width">
    <input name="query" matInput [(ngModel)]="query" placeholder="Search" />
  </mat-form-field>
</form>
<mat-card
  class="mat-card-flat"
  *ngFor="let event of events | search: 'service.name':query"
  style="margin-bottom: 1em; background: #f5f5f5;"
>
  <mat-card-title style="align-items: center; font-size: 1.25em;">
    <div fxLayout.lt-md="column" fxLayout="row">
      <div>
        <a routerLink="/service/go.micro.srv.{{ event.service.name }}"
          >{{ event.service.name }}:</a
        >
        &nbsp;
      </div>
      <div>
        {{ eventTypeToString(event) }} &nbsp;<span style="color: #555">{{
          event.timestamp * 1000 | dateAgo
        }}</span>
      </div>
    </div>
  </mat-card-title>
</mat-card>

<div *ngIf="!events || events.length == 0">
  No events.
</div>
