<div style="padding-left: 1em; margin: auto;">
  <mat-card class="mat-card-flat">
    <mat-card-title>
      <a routerLink="/services">services</a> &gt; go.micro.srv.

      <mat-form-field style="padding-top: 0em; margin-top: 0em; width: 9em;">
        <input autofocus matInput [(ngModel)]="serviceName" (ngModelChange)="newCode()" />
      </mat-form-field>
    </mat-card-title>
  </mat-card>
  <mat-card style="padding-top: 0; margin-top: 0;" class="mat-card-flat">
    <mat-card-title>
      New service
    </mat-card-title>
    <mat-card-subtitle>
      Copypaste the following commands into your terminal:
    </mat-card-subtitle>
    <pre
      style="margin-top: 0.5em;"
    ><code #inputTarget [highlight]="code" [languages]="languages" [lineNumbers]="false"></code></pre>
    <br /><br />
    {{ this.stepLabels[this.step] }}<br /><br />
    <mat-progress-bar
      mode="determinate"
      value="{{ progressPercentage }}"
    ></mat-progress-bar>
  </mat-card>
</div>
