<div style="margin: auto;">
  <mat-card
    style="margin-bottom: 0; padding-bottom: 0; margin-top: 0em; padding-top: 0em;"
    class="mat-card-flat"
  >
    <mat-card-title>
      <a routerLink="/services">services</a> &gt; go.micro.srv.

      <mat-form-field style="padding-top: 0em; margin-top: 0em; width: 9em;">
        <input
          matInputAutofocus
          matInput
          [disabled]="step > 0"
          [(ngModel)]="serviceName"
          (ngModelChange)="newCode()"
        />
      </mat-form-field>
    </mat-card-title>
  </mat-card>
  <mat-card style="padding-top: 0; margin-top: 0;" class="mat-card-flat">
    <mat-card-title>
      New service
    </mat-card-title>
    <mat-card-subtitle *ngIf="step == 0">
      <a routerLink="/settings/token">After logging in</a>, copypaste the
      following commands into your terminal:
    </mat-card-subtitle>
    <mat-card-subtitle *ngIf="step == 3">
      Start your service with the following command:
    </mat-card-subtitle>
    <pre
      *ngIf="step == 0"
      style="margin-top: 0.5em;"
    ><code #inputTarget [highlight]="code" [languages]="languages" [lineNumbers]="false"></code></pre>
    <pre
      *ngIf="step == 3"
      style="margin-top: 0.5em;"
    ><code #inputTarget [highlight]="runCode" [languages]="languages" [lineNumbers]="false"></code></pre>
    <br />
    {{ this.stepLabels[this.step] }}<br /><br />
    <mat-progress-bar
      mode="determinate"
      value="{{ progressPercentage }}"
    ></mat-progress-bar>
  </mat-card>
</div>
