<div fxLayout="row">
  <div style="width: 50%">
    <b style="font-weight: 700;">Name</b>
  </div>
  <div style="width: 50%">
    <b style="font-weight: 700;">Address</b>
  </div>
</div>
<br />
<ng-container *ngFor="let node of services[0].nodes">
  <div fxLayout="row">
    <div style="width: 50%">
      {{ node.id }}
    </div>
    <div style="width: 50%">
      {{ node.address }}
    </div>
  </div>
  <div style="width: 100%; padding-top: 1em; margin-bottom: 1em;">
    <pre style="padding: 1em; background: #f3f3f3;">{{ metadata(node) }}</pre>
  </div></ng-container
>
