.menu-spacer {
  flex: 1 1 auto;
}

mat-sidenav-content {
  height: 100%;
}

*[ng-reflect-router-link] {
  cursor: pointer;
}

mat-menu-content:not(:empty) {
  padding-top: 0px;
  padding-bottom: 0px;
}