<div class="container">
  <h1 class="mat-display-1" style="text-align: center; margin-bottom: 0em;">
    Welcome to M3O
  </h1>
  <h3
    style="color: grey; text-align: center; margin-bottom: 3em;"
    class="mat-subheading-2"
  >
    (pronounced "em-3-oh")
  </h3>
  Welcome to the M3O beta! M3O is a serverless platform for microservices
  development in the cloud and beyond. As part of the beta program you will be
  able to deploy services to the global micro network using the go-micro
  framework you already knew and love. We would love to hear how you get on via
  our community on <a href="https://micro.mu/community">Slack</a>
  <br /><br /><br />
  To get started, log in with the Micro CLI using the following command:<br />
  <pre style="margin-top: 0.5em;"><code #inputTarget [highlight]="code" [lineNumbers]="false"></code></pre>
  <br /><br />
  Then, deploy your service to the global M30 netework using the following
  command:<br />
  <pre  style="margin-top: 0.5em;"><code #inputTarget highlight="micro run --platform" [lineNumbers]="false"></code></pre>
</div>
